.btn {
    width: 50%;
    height: 45px;
    border: none;
    border-radius: 5px;
    align-self: center;
    color: white;
    transition: 0.1s;
    font-family: "Calibri", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.button-calc {
    background-color: #55b19a;
}

.button-reset {
    background-color: #d1836b;
}

.button-calc:hover {
    background-color: #6ad8bc;
    transition: 0.2s;
}

.button-reset:hover {
    background-color: #f89c80;
    transition: 0.2s;
}

.button-calc:active {
    background-color: #449e88;
    transition: 0.1s;
}

.button-reset:active {
    background-color: #a05b46;
    transition: 0.1s;
}

.res-btn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    
}

.button-data {
    background-color: #5588b1;
}

.button-copy {
    background-color: #ffffff;
    color: #575757;
    border: 1px solid #b4b4b4;
}

.button-data:hover {
    background-color: #6ad8bc;
    transition: 0.2s;
}

.button-copy:hover {
    background-color: #f89c80;
    transition: 0.2s;
}

.button-data:active {
    background-color: #449e88;
    transition: 0.1s;
}

.button-copy:active {
    background-color: #a05b46;
    transition: 0.1s;
}

