/* .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
} */

.group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group label {
  display: block;
  margin-left: 5px;
  font-size: 16px;
  transform: translateY(1px);
}

.checkbox-flex {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translateY(1px);
}

.checkbox-center {
  display: flex;
  align-items: space-between;
  gap: 8px
}

.checkbox-flex input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #0a98cf;
}

.divider {
  width: 1px;
  height: 80px;
  background-color: lightgray;
}

.hidden {
  display: none;
}