.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #0a98cf;
}