.variation-container {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
}

.banner-options, .canvas-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.divider {
    width: 1px;
    height: 80px;
    background-color: lightgray;
}

