.settings, 
.material-list, 
.material-item, 
.material-form input, 
.material-form textarea, 
.material-form select {
  font-family: "Calibri", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.settings {
  display: flex;
  gap: 30px;
  text-align: left;
}

.material-list {
  width: 320px;
  border: 1px solid #d3d3d3;
  height: 575px;
  overflow-y: auto;
  background-color: white;
}

.material-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 2px 20px;
  cursor: pointer;
}

.material-item:hover {
  background-color: #e2e2e2;
}

.material-item span {
  flex-grow: 1;
}

.material-item button {
  background: transparent;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.material-item.add {
  font-weight: bold;
  padding: 7px 10px 7px 20px;
  background-color: #f8f7ff;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 1px solid #d3d3d3;
}

.material-item.add:hover {
  background-color: #e2e2e2;
}

.material-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}

.material-form label {
  display: flex;
  flex-direction: column;
}

/* .material-form input,
.material-form textarea,
.material-form select {
  padding: 6px;
  font-size: 14px;
  margin-top: 4px;
} */

/* .material-form button {
  margin-top: 10px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
} */

.material-form textarea {
  resize: none;
  height: 110px;
  white-space: pre-wrap;
  overflow: auto;
}

.oversize-container {
  border-top: 1px solid #d3d3d3;
  margin-top: 10px;
  padding-top: 8px;
}



